.contact-list {
    margin: 0; 
    padding: 0;
    list-style: 'none';
}

.list-item {
    width:100%;
    box-sizing: border-box;
    font-size:18px;
    font-weight: 600;
    margin-bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    background-color:lavender;
    padding:10px;
}

.subtitle {
    font-size:30px;
    font-weight: 400;
}

.contactlistheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    width:100%;
    box-sizing: border-box;
    margin: 50px 0 20px 0;
    @media screen and (min-width:768px) {
        flex-direction: row;
    }
}
.del-btn {
    background-color: transparent;
    border:0;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    &:hover {
        color:blueviolet;
    }
}
.list-content {
    padding:0;
    margin: 0;
    font-size:13px;
    @media screen and (min-width:768px) {
        font-size: 16px;
    }
}
.list-name {
    width:40%;
    color:blueviolet;
    
}